.record-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  transition: .3s background-color;
  box-shadow: 0 0 10px #cccc;

  &--active{
    background-color: #029B05;
  }

  &:hover:not(.record-button--active){
    background-color: #f8f8f8;
  }
}

.recordings-list{
  padding: 0
}
