/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100%;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

#root{
  width: 100%;
}

.app-header{
  background: #261935;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.recorder-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0;
  margin-top: 150px;
}

li {
  list-style: none;
}
